$panel_background:#fff;
$menubar_height:49px;
$font-color : #fff;

.ipanel{
  position:absolute;
  background-color: $panel_background;
  z-index:1040;
  padding:20px;
  padding-top: 30px;
  overflow: scroll;

  &.ipanel-bottom {
    bottom: -100%;
    left: 0;
    width: 100%;
    min-height: 65%;
    max-height: 65%;
    box-shadow: 2px -3px 10px rgba(0, 0, 0, 0.25);}


  &.ipanel-left {
    bottom:0;
    left: -100%;
    width: 300px;
    height: calc(100% - #{$menubar_height});
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.25);}


  .ipanel-close-button {
    position: absolute;
    color: #999;
    top: 1rem;
    right: 1rem;
    font-size: 1.5em;
    line-height: 1;
    cursor: pointer; }


    &.ipanel-right {
        bottom:0;
        right: -100%;
        width: 300px;
        height: calc(100% - #{$menubar_height});
        box-shadow: -3px 0 10px rgba(0, 0, 0, 0.25);
      .ipanel-close-button{left:1rem!important}}


    .ipanel-close-button:hover {
      color:darken( $font-color, 20% )}
}
