
/* line 3, ../sass/_offline-theme-base-indicator.sass */
.offline-ui, .offline-ui *, .offline-ui:before, .offline-ui:after, .offline-ui *:before, .offline-ui *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* line 6, ../sass/_offline-theme-base-indicator.sass */
.offline-ui {
    display: none;
    position: fixed;
    background: white;
    z-index: 1039;
    display: inline-block;
}
/* line 13, ../sass/_offline-theme-base-indicator.sass */
.offline-ui .offline-ui-retry {
    display: none;
}
/* line 16, ../sass/_offline-theme-base-indicator.sass */
.offline-ui.offline-ui-up {
    display: block;
}
/* line 19, ../sass/_offline-theme-base-indicator.sass */
.offline-ui.offline-ui-down {
    display: block;
}

/* line 11, ../sass/offline-theme-slide-indicator.sass */
.offline-ui {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    padding: 0.5em;
    max-width: 100%;
    bottom: 0;
    right: 0.5em;
}
/* line 19, ../sass/offline-theme-slide-indicator.sass */
.offline-ui.offline-ui-up {
    background: #d6e9c6;
    border :1px solid #468847;
    color: #468847;
}
/* line 23, ../sass/offline-theme-slide-indicator.sass */
.offline-ui.offline-ui-down {
    background: #ec8787;
    border :1px solid #551313;
    color: #551313;
}

/* line 36, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui.offline-ui-up .offline-ui-content:after {
    background: #80d580;
}
/* line 41, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui.offline-ui-down .offline-ui-content:after {
    background: #ec8787;
}


/* line 5, ../sass/offline-language-english-indicator.sass */
.offline-ui.offline-ui-up .offline-ui-content:before {
  content: "Online";
}
/* line 10, ../sass/offline-language-english-indicator.sass */
.offline-ui.offline-ui-down .offline-ui-content:before {
  content: "Offline";
}
