$panel-background:#fff;
.ipanel{
  position:absolute;
  background-color: $panel-background;
  z-index:1;
  &.ipanel-bottom {
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 40%;
    box-shadow: 2px -3px 10px rgba(0, 0, 0, 0.25);
  }
  .ipanel-close-button {
    position: absolute;
    color: #999;
    top: 1rem;
    right: 1rem;
    font-size: 1.5em;
    line-height: 1;
    cursor: pointer; }
    .close-button:hover {
      color: #333; }
}
