body{
  overflow: hidden;}

header{
  $font-color : #fff;
  position: absolute;
  background: #3b5998;
  width: 100%;
  padding:10px;
  color:$font-color;
  i{
    font-size: 20px!important;
    padding:5px 15px;}
  a{
    color:#fff;
    cursor: pointer;
    :hover{
      color:darken( $font-color, 20% )}}
}

.NavBar_zoomControlContainer,
.NavBar_compassControlContainer{
  top:80px!important;}

.NavBar_modeSelectorControlContainer{
  display: none;}
