$alink-color : #fff;
$breakpoint-tablet: 768px;


body{
  overflow: hidden;
  color:#777}

header{
  position: absolute;
  background: #3b5998;
  width: 100%;
  padding:0.8rem;
  color:$alink-color;
  z-index: 1030;
  .company-title{
    font-size: 1.6rem;
    padding-top:5px;}
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;}
    a{
      color: $alink-color;
      text-decoration: none;
      cursor: pointer;
      &:hover,
      &:focus {
        color: darken( $alink-color, 20% );
        text-decoration: none;}}}

.NavBar_zoomControlContainer,
.NavBar_compassControlContainer{
  top:60px!important;}

.NavBar_modeSelectorControlContainer{
  display: none;}

.pad-top{
   padding-top: 5px!important;
   &.pad-1x{
     padding-top:10px;}}

.gap-top{
  padding-top: 20px;}

.no-padding{
    padding:2px!important;}

.bordered{
  border:1px solid #fff;}

.nav-pills-eaglei{
    margin-top:30px;}

.panel-heading {
    padding: 10px 15px;
}

.panel-footer {
	padding: 2px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 120px;
	height: 120px;
	margin: 0 auto 20px;
	display: block;}


.semi-bold{
  font-weight: 500;
  font-size: 110%;
}


.fa{
  &.fa-dirction{
    font-size: 20px;
    line-height:22px!important;}}

.#{$fa-css-prefix}-rotate-45r  { @include fa-icon-rotate(45deg, 1);  }
.#{$fa-css-prefix}-rotate-45l  { @include fa-icon-rotate(-45deg, 1);  }

.rotate-45-left:before {
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);}

.rotate-45-right:before {
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);}

.clusterize-scroll{
  max-height:100%!important;
  overflow-x:hidden!important;}

@media (min-width: $breakpoint-tablet) {
  header{
    .company-title{
      font-size: 2rem;
      padding-top:2px;}}
}
