$alink-color : #fff;

body{
  overflow: hidden;}

.bordered{
  border:1px solid #fff;
}

a {
  color: $alink-color;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: darken( $alink-color, 20% );
    text-decoration: none;
  }
}


header{
  position: absolute;
  background: #3b5998;
  width: 100%;
  padding:10px;
  color:$alink-color;
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;}}

.NavBar_zoomControlContainer,
.NavBar_compassControlContainer{
  top:60px!important;}

.NavBar_modeSelectorControlContainer{
  display: none;}
